/** Elements */
#canvas {
	height: 498px;
	width: 498px;
	border: solid white 1px;
	background-color: #269;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-image: -webkit-linear-gradient(white 2px, transparent 2px),
					  -webkit-linear-gradient(0, white 2px, transparent 2px),
					  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-image: -moz-linear-gradient(white 2px, transparent 2px),
					  -moz-linear-gradient(0, white 2px, transparent 2px),
					  -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					  -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-image: linear-gradient(white 2px, transparent 2px),
					  linear-gradient(90deg, white 2px, transparent 2px),
					  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	-pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
					 linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
					 linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
					 linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
					 #269;
	behavior: url(/pie/PIE.htc);
}

.menu_button {
	display: table;
	width: 88px;
	height: 60px;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
	border: solid black 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-align: center;
	vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
	font-family: "Open Sans", Arial, sans-serif;
    color: #333;
    cursor: pointer;
    transition: all 0.15s;
}

.menu_button:hover {
	background-color: #ddd;
}

.menu_button.active {
	background-color: #ccc;
}

.menu_button_text {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.right_panel_screen {
	display: inline-block;
	background-color: #fff;
	float: right;
	text-align: left;
	width: 250px;
	height: 500px;
	border: solid black 1px;
}

.screen_content {
	display: none;
}

/** Structure */
body {
	background-image: url(http://img.clubic.com/07901209-photo-drone-dji-spreading-wings-s1000-equipe-par-cinedrone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main_block {
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 100px;
    min-width: 760px;
	text-align: center;
}

.header {
	position: relative;
    margin: 10px;
    vertical-align: baseline;
}

.main_frame {
	display: inline-block;
/**    height: 100%;*/
	width: 900px;
    margin: 10px;
    padding: 10px;
    background-color: #669999;
    border-radius: 5px;
    /**overflow-y: auto;*/
}

.menu {
	display: inline-block;
}

.right_panel {
	display: inline-block;
	float: right;
	text-align: right;
	width: 370px;
	height: 500px;
}