/** Elements */

#area {
    border: 3px solid #fca15c;
    margin: 30px;
    width: 800px;
    height: 800px;
}

svg {
    position: relative;

}

.vertex {
	position: absolute;
	transform: translate(-50%, -50%);
}

.station {
	fill: blue;
	transform: translate(-50%, -50%);

}
/*#canvas {
	height: 498px;
	width: 498px;
	border: solid white 1px;
	background-color: #95c6ea;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-image: -webkit-linear-gradient(white 2px, transparent 2px),
					  -webkit-linear-gradient(0, white 2px, transparent 2px),
					  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-image: -moz-linear-gradient(white 2px, transparent 2px),
					  -moz-linear-gradient(0, white 2px, transparent 2px),
					  -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					  -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-image: linear-gradient(white 2px, transparent 2px),
					  linear-gradient(90deg, white 2px, transparent 2px),
					  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	-pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
					 linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
					 linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
					 linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
					 #269;
	behavior: url(/pie/PIE.htc);
}

.perimeter_point {
	margin-top: 2px;
	padding: 10px;
	border-radius: 3px;
	border: solid black 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-align: center;
}

.station {
	margin-top: 2px;
	padding: 10px;
	border-radius: 3px;
	border: solid black 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-align: center;
	color: black;
}*/